.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  $root: &;

  &--span-4 {
    grid-column: span 4;
  }


  &__field {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid $color-Green;
    border-radius: 0 8px 8px;
    font-size: clamp(1rem, .962rem + .19vw, 1.125rem);
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    color: $color-Black;
    outline: none;
    background-color: $color-LightGrey;
    pointer-events: none;
    transition: color $transition-300, border-color $transition-300;

    caret-color: $color-Blue;

    &::placeholder {
      color: $color-Grey;
      transition: opacity $transition-300;
    }

    &:placeholder-shown::placeholder {
      opacity: 0;
    }

    &:focus-within::placeholder {
      opacity: 1;
    }

    &:placeholder-shown {
      border-radius: 8px;
    }

    &:placeholder-shown:focus-within {
      border-radius: 0 8px 8px;
    }

    &:placeholder-shown+#{$root}__label {
      left: 10px;
      border-color: transparent;
      border-bottom-color: $color-LightGrey;
      transform: translateY(-75%) scale(1, 1.1);
    }

    &:placeholder-shown:focus-within+#{$root}__label {
      left: 0;
      border-color: $color-Blue;
      border-bottom-color: $color-LightGrey;
      border-radius: 4px 4px 0 0;
      transition: color $transition-300, border-color $transition-300,
        transform $transition-300, left $transition-300;
      transform: translateY(-198%) scale(1, .9);
    }

    &::selection {
      color: $color-DarkCyan;
      background-color: rgba($color-DarkCyan, .4);
    }

    @include focus-visible {
      border-color: $color-Blue;

      &+#{$root}__label {
        border-color: $color-Blue;
        border-bottom-color: $color-LightGrey;
        color: $color-Blue;
      }
    }

    @include any-hover {
      border-radius: 0 8px 8px;
      border-color: $color-Blue;

      &:placeholder-shown::placeholder {
        opacity: 1;
      }

      &+#{$root}__label {
        left: 0;
        border-color: $color-Blue;
        border-bottom-color: $color-LightGrey;
        border-radius: 4px 4px 0 0;
        color: $color-Blue;
        transition: color $transition-300, border-color $transition-300,
          transform $transition-300, left $transition-300;
        transform: translateY(-198%) scale(1, .9);
      }
    }
  }

  &__label {
    left: 0;
    position: absolute;
    top: 32px;
    height: 30px;
    padding: 5px;
    border: 1px solid $color-Green;
    border-bottom-color: $color-LightGrey;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    font-size: clamp(1rem, .923rem + .38vw, 1.25rem);
    font-weight: 600;
    line-height: 120%;
    /* 21.6px */
    color: $color-Black;
    background-color: $color-LightGrey;
    transition: color $transition-300, transform $transition-300,
      left $transition-300;
    transform: translateY(-198%) scale(1, 0.9);
    transform-origin: 0 50%;
    pointer-events: none;
  }
}
