.guess-number {
  padding: 80px 0 120px;

  @include vp-767 {
    padding: 30px 0;
  }

  &__container {
    position: relative;
    box-shadow: 0 0 200px 50px $color-Silver inset, 0 0 2px 10px $color-Silver;
  }

  &__main-title {
    position: relative;
    margin: 0 0 50px;
    text-align: center;

    @include vp-767 {
      margin: 0 0 20px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: $color-Brown;
      transform: translateX(-50%);
    }
  }

  &__details {
    &[open]+.guess-number__details-body {
      grid-template-rows: 1fr;
    }

    &[open] .guess-number__summary-btn {
      transform: rotate(0deg);
    }

    &[open] .guess-number__summary::after {
      opacity: 0;
    }
  }

  &__summary {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 0 0 20px auto;
    font-size: clamp(1rem, .696rem + 1.52vw, 1.875rem);
    font-weight: 700;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      right: 60px;
      width: 85%;
      border-bottom: 2px $color-Chocolate dashed;
      opacity: 1;
      transition: opacity $transition-600;

      @include vp-767 {
        right: 40px;
      }
    }

    &::marker {
      display: none;
      list-style: none;
    }
  }

  &__summary-btn {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100%;
    font-size: clamp(1.5rem, 0.9166666666666666rem + 2.9166666666666665vw, 2.8125rem);
    transition: transform $transition-600;
    transform: rotate(90deg);
    background-color: transparent;
    color: $color-Chocolate;

    @include vp-767 {
      width: 30px;
      height: 30px;
    }
  }

  &__details-body {
    display: grid;
    max-width: 840px;
    margin: 0 auto;
    transition: $transition-600;

    grid-template-rows: 0fr;
  }

  &__details-content {
    overflow: hidden;
  }

  &__descr {
    margin: 0 0 30px;
    font-size: clamp(1rem, .826rem + .87vw, 1.5rem);
    line-height: 1.6;
    text-align: center;

    &::after {
      display: block;
      content: "";
      width: 100%;
      border-bottom: 2px #d2691e dashed;
    }
  }

  &__start-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
    gap: 10px;
  }

  &__wrap-list {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $transition-300;

    &--show {
      grid-template-rows: 1fr;
    }
  }

  &__list-numbers {
    padding: 6px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 15px $color-Grey;
    border-radius: 4px;
    gap: 8px 0;
    cursor: pointer;
  }

  &__item-numbers {
    font-style: italic;
    display: flex;
    min-width: 4ex;
    justify-content: center;
    flex-shrink: 0;
    padding: 5px 0;
    font-size: clamp(0.875rem, 0.8rem + 0.6vw, 1.125rem);
    font-weight: 700;
    border-radius: 4px;
    color: $color-Black;
    transition: background-color $transition-300, transform $transition-300;

    &--highlight {
      background-color: $color-LightGoldenrodYellow;
      border: 1px solid $color-Chocolate;
      border-radius: 2px;
      transform: scale(1.05);
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    max-width: 80%;
    margin: 20px auto;

    gap: 15px;

    @include vp-767 {
      max-width: 100%;
    }
  }

  &__btn {
    &--reset {
      font-size: 30px;
    }

    &.btn--start {
      position: absolute;
      left: 20px;
      top: 80px;
      max-width: 40%;
      width: 100%;
      z-index: 1;

      @include vp-767 {
        top: 45px;
        left: 0;
      }
    }

    &--span-2 {
      grid-column: span 2;
    }

    &--closed {
      scale: 0;
      visibility: hidden;
    }

    @include vp-767 {
      &--span-3 {
        grid-column: span 3;
      }
    }
  }

  &__list-result {
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    line-height: 1.2;
  }

  &__item-result {
    &--success {
      color: $color-Green;
      font-size: 20px;
    }
  }
}
