@media (max-width: 1400px) {
  .hero__container {
    padding-left: 15px;
  }

  .how-it-work-top__title {
    flex-shrink: 0;
  }

  .story__container {
    align-items: center;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;

    column-gap: 0;
    row-gap: 20px;
  }

  .alivia__container {
    justify-content: start;
  }

  .alivia__avatar {
    height: 500px;
  }

  .alivia__content {
    padding-left: 20px;
  }

  .footer__container {
    padding-left: 30px;
  }
}

@media (max-width: 1200px) {
  .header__container {
    flex-wrap: wrap;

    row-gap: 15px;
  }

  .header__logo-icon {
    margin-right: 15px;
  }

  .header__nav {
    overflow: auto;
    justify-content: start;
    order: 1;
    width: 100%;
    margin-right: auto;
  }

  .header-nav__list {
    flex-wrap: nowrap;
  }

  .how-it-work {
    padding-bottom: 100px;
  }

  .how-it-work-bottom__list {
    --column-gap: 0;
    --offsets: 0;
  }

  .how-it-work-bottom__item {
    align-items: start;
    flex-direction: row;
    flex-shrink: 1;
    padding-top: 50px;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    transform: none;
  }

  .how-it-work-bottom__item::before {
    top: initial;
    bottom: 0;
    left: 10%;
  }

  .how-it-work-bottom__item:nth-child(3n+3)::before {
    top: initial;
    bottom: 0;
    left: 10%;
  }

  .how-it-work-bottom__item:nth-child(2n)::before {
    top: initial;
    right: 10%;
    bottom: 0;
    left: initial;
  }

  .how-it-work-bottom__item:nth-child(3n+2) {
    transform: none;
  }

  .how-it-work-bottom__item:nth-child(3n+3) {
    padding-top: 50px;
  }

  .how-it-work-bottom__content {
    width: 60%;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__content {
    order: 1;
  }

  .how-it-work-bottom__item:first-child .how-it-work-bottom__wrap-img {
    margin-top: 0;
  }

  .how-it-work-bottom__item:nth-child(3n+3) .how-it-work-bottom__wrap-img {
    margin-top: 0;
  }

  .how-it-work-bottom__wrap-img {
    flex-shrink: 0;
    width: 390px;
    margin-top: 0;
  }

  .how-it-work-bottom__caption {
    align-self: flex-start;
    order: 1;
  }

  .how-it-work-bottom__item:nth-child(3n+2) .how-it-work-bottom__caption {
    align-self: flex-start;
    text-align: left;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__caption {
    align-self: flex-end;
    text-align: right;
  }

  .how-it-work-bottom__descr {
    order: 1;
    width: 80%;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__descr {
    align-self: flex-end;
    text-align: right;
  }

  .alivia__avatar {
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .how-it-work__top {
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 30px;
  }

  .how-it-work-top__title {
    width: 100%;
    padding-right: 0;
  }

  .story {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .story__content {
    align-items: center;
    max-width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .story__title {
    text-align: center;
  }

  .story__descr {
    text-align: center;
  }

  .alivia__container {
    align-items: start;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 30px;

    --alivia-offsets: 0;
    --alivia-column-gap: 0;
  }

  .alivia__avatar {
    height: auto;
  }

  .customized-card {
    top: 0;
    right: 0;
    bottom: inherit;
    left: initial;
    width: 250px;
    height: 270px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
    margin-bottom: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, .1);
    background-image: linear-gradient(160deg, rgba(162, 216, 250, 1) 20%,rgba(255, 255, 255, 1) 70%);
  }

  .how-it-work-top__descr {
    width: 100%;
  }

  .how-it-work-bottom__item {
    align-items: center;
    flex-direction: column;
  }

  .how-it-work-bottom__item:nth-child(3n+3) {
    padding-top: 100px;
  }

  .how-it-work-bottom__item::before {
    top: 0;
    bottom: initial;
  }

  .how-it-work-bottom__item:nth-child(2n)::before {
    top: 0;
    right: initial;
    bottom: initial;
    left: 10%;
  }

  .how-it-work-bottom__item:nth-child(3n+3)::before {
    top: 0;
    bottom: initial;
  }

  .how-it-work-bottom__content {
    align-items: center;
    width: 100%;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__content {
    order: 0;
  }

  .how-it-work-bottom__caption {
    align-self: center;
    margin-bottom: 35px;
  }

  .how-it-work-bottom__item:nth-child(3n + 3) .how-it-work-bottom__caption {
    margin-bottom: 35px;
  }

  .how-it-work-bottom__descr {
    margin-bottom: 20px;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__caption {
    align-self: center;
    text-align: left;
  }

  .how-it-work-bottom__item:nth-child(2n) .how-it-work-bottom__descr {
    align-self: center;
    text-align: left;
  }

  .how-it-work-bottom__wrap-img {
    padding-left: 20px;
  }

  .customized-card {
    top: -200px;
    width: 230px;
    height: 250px;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .title_style {
    font-size: 25px;
    font-weight: 600;
    line-height: 130%;
  }

  .btn-style {
    padding: 10px 20px;
    font-size: 18px;
  }

  .header-nav__list {
    column-gap: 30px;
  }

  .header__btn {
    column-gap: 12px;
  }

  .how-it-work-bottom__wrap-img {
    width: auto;
  }

  .story__video-wrap {
    height: 380px;
  }

  .story__video {
    height: auto;
  }

  .alivia__container {
    padding-left: 0;
  }

  .customized-card {
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
  }
}
