/* Global */
/* ------------------------------------ */
@import "global/_variables";
@import "global/_normalize";
@import "global/_mixins";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

/* Blocks */
/* ------------------------------------ */
@import "blocks/_main-title";
@import "blocks/_btn";
@import "blocks/_custom-input";
@import "blocks/_custom-checkbox";
@import "blocks/_custom-radio";
@import "blocks/_fieldset";
@import "blocks/_guess-number";

