html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~fonts~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: local("RobotoBold") url("fonts/RobotoBold.woff2") format("woff2"),
  url("../fonts/RobotoBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: local("RobotoRegular") url("fonts/RobotoRegular.woff2") format("woff2"),
  url("../fonts/RobotoRegular.woff") format("woff");
  font-display: swap;
}

/* ~~~~~~~~~~~~~~~~~~~~~var()~~~~~~~~~~~~~~~~~~ */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-waterloo: #85859b;
  --color-steel-gray: #212133;
  --color-dove-gray: #666666;
  --gap: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~global~~~~~~~~~~~~~~~~~~ */
.page {
  min-width: 320px;
  height: 6000px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
  background-color: var(--color-white);
}

.flex {
  display: flex;
}

.container {
  /* width: 100%; */
  max-width: 1140px;
  /* margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; */
}

.section {
  margin: 0;
  padding: 80px 0;
}

.title {
  margin: 0;
  /* padding: 0; */
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
}

.sub-title {
  font-size: 18px;
  line-height: 150%; /* 27px */
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr {
  margin: 0;
  padding: 0;
  line-height: 150%; /* 24px */
  color: var(--color-dove-gray);
}

/* ------------------------teachers--------------------------- */
.teachers {
  background-color: var(--color-steel-gray);
}

.teachers__title {
  margin-bottom: 23px;
  color: var(--color-white);
}

.article__img {
  display: block;
  margin-bottom: 30px;
}

.article__photo {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  object-fit: cover;
  background-color: lightgrey;
}

/* .teachers__list {
  align-items: start;

  --offsets: 3;
  column-gap: 30px;
} */

/* .teachers__item {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
} */

.article__title {
  margin-bottom: 4px;
  color: var(--color-white);
}

.article__descr_color {
  color: var(--color-waterloo);
}
