/* Colors */
/* ------------------------------------ */
$color-Black: #000000;
$color-Gray: #808080;
$color-Silver: #c0c0c0;
$color-White: #ffffff;
$color-Fuchsia: #ff00ff;
$color-Purple: #800080;
$color-Red: #ff0000;
$color-Maroon: #800000;
$color-Yellow: #ffff00;
$color-Olive: #808000;
$color-Lime: #00ff00;
$color-Green: #008000;
$color-Aqua: #00ffff;
$color-Teal: #008080;
$color-Blue: #0000ff;
$color-Navy: #000080;
$color-WhiteSmoke: #f5f5f5;
$color-Gainsboro: #dcdcdc;
$color-LightGrey: #d3d3d3;
$color-Silver: #c0c0c0;
$color-DarkGray: #a9a9a9;
$color-Grey: #808080;
$color-DimGrey: #696969;
$color-LightSlateGrey: #778899;
$color-SlateSlateGrey: #708090;
$color-DarkSlateGrey: #2f4f4f;
$color-Black: #000000;
$color-LightCoral: #f08080;
$color-Salmon: #fa8072;
$color-DarkSalmon: #e9967a;
$color-LightSalmon: #ffa07a;
$color-Crimson: #dc143c;
$color-Red: #ff0000;
$color-IndianRed: #cd5c5c;
$color-FireBrick: #b22222;
$color-Brown: #a52a2a;
$color-DarkRed: #8b0000;
$color-Maroon: #800000;
$color-Seashell: #fff5ee;
$color-Beige: #f5f5dc;
$color-OldLace: #fdf5e6;
$color-FloralWhite: #fffaf0;
$color-AntiqueWhite: #faebd7;
$color-Linen: #faf0e6;
$color-BlanchedAlmond: #ffebcd;
$color-Bisque: #ffe4c4;
$color-NavajoWhite: #ffdead;
$color-Wheat: #f5deb3;
$color-BurlyWood: #deb887;
$color-Tan: #d2b48c;
$color-SandyBrown: #f4a460;
$color-Goldenrod: #daa520;
$color-DarkGoldenRod: #b8860b;
$color-Peru: #cd853f;
$color-Chocolate: #d2691e;
$color-SaddleBrown: #8b4513;
$color-Sienna: #a0522d;
$color-LightSalmon: #ffa07a;
$color-Coral: #ff7f50;
$color-Tomato: #ff6347;
$color-OrangeRed: #ff4500;
$color-DarkOrange: #ff8c00;
$color-Orange: #ffa500;
$color-Cornsilk: #fff8dc;
$color-Ivory: #fffff0;
$color-LightYellow: #ffffe0;
$color-LemonChiffon: #fffacd;
$color-LightGoldenrodYellow: #fafad2;
$color-PapayaWhip: #ffefd5;
$color-Moccasin: #ffe4b5;
$color-PeachPuff: #ffdab9;
$color-PaleGoldenrod: #eee8aa;
$color-Khaki: #f0e68c;
$color-DarkKhaki: #bdb76b;
$color-Yellow: #ffff00;
$color-Gold: #ffd700;
$color-Honeydew: #f0fff0;
$color-MintCream: #f5fffa;
$color-GreenYellow: #adff2f;
$color-Chartreuse: #7fff00;
$color-LawnGreen: #7cfc00;
$color-Lime: #00ff00;
$color-LimeGreen: #32cd32;
$color-PaleGreen: #98fb98;
$color-LightGreen: #90ee90;
$color-MediumSpringGreen: #00fa9a;
$color-SpringGreen: #00ff7f;
$color-MediumSeaGreen: #3cb371;
$color-SeaGreen: #2e8b57;
$color-ForestGreen: #228b22;
$color-Green: #008000;
$color-DarkGreen: #006400;
$color-YellowGreen: #9acd32;
$color-OliveDrab: #6b8e23;
$color-Olive: #808000;
$color-DarkOliveGreen: #556b2f;
$color-MediumAquamarine: #66cdaa;
$color-DarkSeaGreen: #8fbc8f;
$color-LightSeaGreen: #20b2aa;
$color-DarkCyan: #008b8b;
$color-Teal: #008080;
$color-Azure: #f0ffff;
$color-AliceBlue: #f0f8ff;
$color-LightCyan: #e0ffff;
$color-Cyan: #00ffff;
$color-Aquamarine: #7fffd4;
$color-Turquoise: #40e0d0;
$color-MediumTurquoise: #48d1cc;
$color-DarkTurquoise: #00ced1;
$color-PaleTurquoise: #afeeee;
$color-PowderBlue: #b0e0e6;
$color-LightBlue: #add8e6;
$color-LightSteelBlue: #b0c4de;
$color-SkyBlue: #87ceeb;
$color-LightSkyBlue: #87cefa;
$color-DeepSkyBlue: #00bfff;
$color-DodgerBlue: #1e90ff;
$color-CornflowerBlue: #6495ed;
$color-MediumSlateBlue: #7b68ee;
$color-CadetBlue: #5f9ea0;
$color-SteelBlue: #4682b4;
$color-RoyalBlue: #4169e1;
$color-Blue: #0000ff;
$color-MediumBlue: #0000cd;
$color-DarkBlue: #00008b;
$color-Navy: #000080;
$color-MidnightBlue: #191970;
$color-MidnightExpress: #151C46;
$color-SlateBlue: #6a5acd;
$color-DarkSlateBlue: #483d8b;
$color-GhostWhite: #f8f8ff;
$color-Lavender: #e6e6fa;
$color-Thistle: #d8bfd8;
$color-Plum: #dda0dd;
$color-Violet: #ee82ee;
$color-Orchid: #da70d6;
$color-Fuchsia: #ff00ff;
$color-MediumVioletRed: #c71585;
$color-MediumOrchid: #ba55d3;
$color-MediumPurple: #9370db;
$color-BlueViolet: #8a2be2;
$color-DarkViolet: #9400d3;
$color-DarkOrchid: #9932cc;
$color-DarkMagenta: #8b008b;
$color-Purple: #800080;
$color-Indigo: #4b0082;
$color-Snow: #fffafa;
$color-LavenderBlush: #fff0f5;
$color-MistyRose: #ffe4e1;
$color-Pink: #ffc0cb;
$color-LightPink: #ffb6c1;
$color-HotPink: #ff69b4;
$color-DeepPink: #ff1493;
$color-PaleVioletRed: #db7093;
$color-RosyBrown: #bc8f8f;

// Animations
/* ------------------------------------ */
$transition-300: 0.3s ease-in;
$transition-600: 0.6s ease-in;
$transition-1000: 1s ease-in;

// Typography
/* ------------------------------------ */
$ff-sans-serif: Arial, Helvetica, sans-serif;

// Viewport
/* ------------------------------------ */
$vp-tablet: 1023px;
$vp-mobile: 767px;

